* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header {
    padding: 26px 0 112px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logotype {
    font-size: 30px;
    font-family: "Montserrat";
    color: #95e1d3;
    font-weight: 700;
    line-height: 1.2;
    animation: logo-apper 1.5s linear;
}

@keyframes logo-apper {
    0% {
        transform: translateY(-200px);
    }

    50% {
        transform: translateY(0);
        opacity: 1;
        transform: rotate(0);
    }

    100% {
        transform: rotate(0);
    }
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    flex-basis: 490px;
    flex-grow: 0;
}

.navigation__list-link {
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 400;
    color: #95e1d3;
    text-transform: uppercase;
    line-height: 1.2;
    transition: color 0.2s linear;
    position: relative;
}

.navigation__list-link::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: rgb(243, 129, 129);
    position: absolute;
    margin-top: 10px;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.navigation__list-link:hover {
    color: rgb(243, 129, 129);
}

.navigation__list-link:hover.navigation__list-link::after {
    opacity: 1;
}

.services {
    padding-bottom: 90px;
}

.section-title {
    margin: 0;
    font-size: 30px;
    font-family: "Montserrat";
    font-weight: 700;
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.span-title {
    display: block;
    font-size: 24px;
    font-family: "Kaushan Script";
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: center;
    text-transform: none;
    padding-bottom: 18px;
}

.section-title::after {
    content: "";
    display: block;
    background-color: rgb(243, 129, 129);
    width: 60px;
    height: 3px;
    margin: 38px auto 64px;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__list-item {
    flex-basis: 382px;
    padding-left: 82px;
    position: relative;
}

.services__list-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 90px;
}

.services__list-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
}

.services__list-item_alarm::before {
    background-image: url(../img/icon-alarm.png);
}

.services__list-item_line_graph::before {
    background-image: url(../img/icon-line_graph.png);
}

.services__list-item_computer::before {
    background-image: url(../img/icon-computer.png);
}

.services__list-item_book::before {
    background-image: url(../img/icon-book.png);
}

.services__list-item_home::before {
    background-image: url(../img/icon-home.png);
}

.services__list-item_image::before {
    background-image: url(../img/icon-image.png);
}

.services__list-item-title {
    font-family: "Montserrat";
    text-transform: uppercase;
    color: rgb(51, 51, 51);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 14px;
}

.services__list-item-text {
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 400;
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: left;
}

.team {
    padding-bottom: 82px;
}

.team__text-description {
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 400;
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: center;
    width: 980px;
    margin: 0 auto 92px;
}

.team__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team__list-item {
    width: 380px;
}

.team_wrapper {
    position: relative;
    transition: 0.2s linear;
}

.team_overlay {
    display: block;
    transition: 0.2s linear;
    margin-bottom: 28px;
}

.team_social-wrapper {
    opacity: 0;
    transition: 0.2s linear;
}

.team_social-wrapper::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top,
            rgba(252, 227, 138, 0.9),
            rgba(243, 129, 129, 0.9));
    top: 0;
    left: 0;
    opacity: 1;
}

.team_social-list {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 1;
}

.team__list-item:hover .team_social-wrapper {
    opacity: 1;
}

.team__list-item:hover .team_wrapper {
    transform: translate3d(-10px, -10px, 0);
}

.team__list-item:hover {
    height: 470px;
    background-color: rgb(149, 225, 211);
    transition: 0.2s linear;
}

.team_icon-link:not(:nth-child(3)) {
    margin-right: 1px;
}

.team_icon-link {
    display: flex;
    width: 56px;
    height: 56px;
    background-color: rgb(252, 227, 138);
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s linear;
}

.team_icon-link_facebook {
    background-image: url(../img/icon-facebook.png);
}

.team_icon-link_twitter {
    background-image: url(../img/icon-twitter.png);
}

.team_icon-link_pinterest {
    background-image: url(../img/icon-pinterest.png);
}

.team_icon-link_instagram {
    background-image: url(../img/icon-instagram.png);
}

.team_icon-link:hover {
    background-color: #95e1d3;
}

.team-name-title {
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 400;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
}

.team-position {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 1.6;
    text-align: center;
}

.footer__wrapper {
    border-top: 1px solid rgb(229, 229, 229);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.footer__text {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: center;
}

.footer__link {
    color: #f38181;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #f38181;
    line-height: 1.2;
}

.footer__form {
    display: flex;
    align-items: center;
}

.footer__input {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(231, 231, 231);
    background-color: rgb(255, 255, 255);
    width: 230px;
    height: 40px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: 300;
    line-height: 1.6;
    text-align: left;
    padding-left: 14px;
}

input::placeholder {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(204, 204, 204);
    font-style: italic;
    line-height: 1.6;
    text-align: left;
}

.footer__subscribe-button {
    background-color: rgb(149, 225, 211);
    border: none;
    width: 150px;
    height: 40px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    padding: 0;
}